/* Write your CSS code here */
.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  margin-top: 40px;
}
.contact-img {
  height: 60%;
  width: 30%;
}
.contact-heading {
  font-size: 30px;
  font-weight: bold;
}
